<div class="container">
    <div class="row mt-5">
        <div class="col">
            <form>
            <div class="form-group">
                <label for="exampleFormControlInput1">Correo Electronico</label>
                <input type="email" class="form-control" id="exampleFormControlInput1">
            </div>
            <div class="form-group">
                    <label for="exampleFormControlInput1">Nombre Completo</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" >
                </div>


            <div class="form-group">
                <label for="exampleFormControlTextarea1">Queja o Sugerencia</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder=""></textarea>
            </div>
            </form>
        </div>
    </div>
    <div class="row">
        <button type="button" class="btn btn-primary mr-3" (click)="mensaje()" >Enviar</button>
        <button type="button" class="btn btn-secondary">Cancelar</button>
    </div>
</div>