<h1 class="text-center mb-4">Obras presentadas en nuestra galeria</h1>
<hr>

<h2 class="text-center"> <a href="http://www.rufinotamayo.org.mx/wp/">Obras de Rufino Tamayo</a> </h2>
<p class="text-center">Pintor Modernista</p>

<div id="carruselVerano" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="../../../assets/Gogh, Art Gallery/galeria/architecture-people-floor-building-museum-hall-973226-pxhere.com.jpg" alt="First slide">
        <div class="col text-center">
            <h2></h2>
        </div>
    </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../../assets/Gogh, Art Gallery/galeria/light-architecture-interior-museum-hall-square-1276455-pxhere.com.jpg" alt="Second slide">
        <div class="col text-center">
                <h2></h2>
            </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../../assets/Gogh, Art Gallery/galeria/light-wood-interior-perspective-walkway-decoration-1088486-pxhere.com.jpg" alt="Third slide">
        <div class="col text-center">
                <h2></h2>
            </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../../assets/Gogh, Art Gallery/galeria/people-girl-woman-floor-wall-standing-1101385-pxhere.com.jpg" alt="Third slide">
        <div class="col text-center">
            <h2></h2>
        </div>
    </div>    
    </div>
    <a class="carousel-control-prev" href="#carruselVerano" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carruselVerano" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
      <br>
      <br>
      <h2 class="text-center"> <a href="https://es.wikipedia.org/wiki/Kuroda_Seiki">Obras de Kuroda Seiki</a></h2>
      <p class="text-center">Uno de los líderes del Yōga (o de estilo occidental)</p>

      <div id="carruselOtoño" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="../../../assets/Gogh, Art Gallery/japonesita/countryside-flower-cityscape-color-autumn-flora-744344-pxhere.com.jpg" alt="First slide">
              <div class="col text-center">
                  <h2></h2>
              </div>
          </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="../../../assets/Gogh, Art Gallery/japonesita/landscape-sunset-flower-evening-painting-art-893333-pxhere.com.jpg" alt="Second slide">
              <div class="col text-center">
                      <h2></h2>
                  </div>
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="../../../assets/Gogh, Art Gallery/japonesita/landscape-tree-forest-branch-plant-meadow-1242088-pxhere.com.jpg" alt="Third slide">
              <div class="col text-center">
                      <h2></h2>
                  </div>
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="../../../assets/Gogh, Art Gallery/japonesita/love-cute-portrait-beautiful-happy-girl-1432819-pxhere.com.jpg" alt="Third slide">
              <div class="col text-center">
                  <h2></h2>
              </div>
          </div>
          </div>
          <a class="carousel-control-prev" href="#carruselOtoño" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carruselOtoño" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <br>
        <br>
        <h2 class="text-center"> <a href="https://es.wikipedia.org/wiki/Dr._Atl#Pintura"> Obras de Dr. Atl </a></h2>
        <p class="text-center">Pintor Modernista</p>
        <div id="carruselInvierno" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="../../../assets/Gogh, Art Gallery/piruja/creative-abstract-white-house-texture-chair-641403-pxhere.com.jpg" alt="First slide">
                <div class="col text-center">
                </div>
            </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="../../../assets/Gogh, Art Gallery/piruja/creative-abstract-white-house-texture-interior-641410-pxhere.com.jpg" alt="Second slide">
                <div class="col text-center">
                    </div>
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="../../../assets/Gogh, Art Gallery/piruja/creative-abstract-white-house-texture-interior-641412-pxhere.com.jpg" alt="Third slide">
                <div class="col text-center">
                    </div>
              </div>            
            </div>
            <a class="carousel-control-prev" href="#carruselInvierno" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carruselInvierno" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <br>
          <br>
          <h2 class="text-center"> <a href="https://es.wikipedia.org/wiki/Juan_O'Gorman"> Obras de Juan O'Gorman</a></h2>
          <p class="text-center">Pintor y Muralista</p>

          <div id="carruselPrimavera" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block w-100" src="../../../assets/Gogh, Art Gallery/vato/01.jpg" alt="First slide">
                  <div class="col text-center">
                  </div>
              </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="../../../assets/Gogh, Art Gallery/vato/02.jpg" alt="Second slide">
                  <div class="col text-center">
                      </div>
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="../../../assets/Gogh, Art Gallery/vato/03.jpg" alt="Third slide">
                  <div class="col text-center">
                      </div>
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="../../../assets/Gogh, Art Gallery/vato/04.jpg" alt="fourth slide">
                  <div class="col text-center">
                  </div>
              </div>
              </div>
              <a class="carousel-control-prev" href="#carruselPrimavera" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carruselPrimavera" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>