<div class="container">
    <div class="row mt-3">
        <div class="col">
            <h1><strong>Términos y Condiciones de Venta</strong></h1>
        </div>
    </div>
    <div class="row">
        <div class="col mt-5">
            <h5><strong>Términos Generales</strong></h5>
            <div class="row">
                <div class="col">
                    <p>1. Usted debe tener 18 años o más para utilizar este sitio o en su defecto, tener el permiso de
                        un tutor legal. Usted es responsable de cualquier actividad que ocurre bajo su nombre de
                        usuario. 2. Usted es responsable de mantener su contraseña segura. 3. No podrá utilizar ni
                        duplicar la información presentada en la página web Gogh-art sin nuestra previa autorización.
                        4. Usted es el único responsable del uso malicioso o malintencionado que haga del contenido de
                        la página web. 5. Usted no debe transmitir ningún gusano, virus o cualquier código de naturaleza
                        destructiva que pueda afectar la página web Gogh-art o de sus usuarios. La violación de
                        cualquiera de estos acuerdos dará lugar a la eliminación de su cuenta en Gogh.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col mt-5">
            <h5><strong>Condiciones Generales</strong></h5>
            <div class="row">
                <div class="col">
                    <p>Gogh se reserva el derecho de modificar o terminar el servicio Gogh-art por cualquier razón, en
                        cualquier momento y sin previo aviso. Gogh se reserva el derecho de rechazar el uso del sitio
                        para usted por cualquier motivo y en cualquier momento, con o sin previo aviso. Gogh puede,
                        pero no tiene obligación, retirar cualquier contenido ( "Contenido" incluye, por ejemplo,
                        artículos, descripciones de los artículos) y las cuentas que contengan contenido que Gogh
                        determine, a su sola discreción, puede ser ilegal, ofensivo, amenazante, difamatorio, obsceno o
                        de dudosa o que viole los derechos de cualquiera de las partes de propiedad intelectual, las
                        condiciones, la política de privacidad en www.Gogh-art.com/politicas_de_privacidad u otros
                        documentos de políticas y normas de la comunidad tal como fue anunciado en el sitio. En caso de
                        publicar imágenes alojadas en sitios web fuera de Gogh debe proporcionar un enlace a Gogh de
                        cada imagen a su página asociada en el Sitio. Su cuenta se puede cancelar sin previo aviso, si
                        su cuenta se utiliza para alojar elementos gráficos considerados inapropiados por Gogh a su
                        exclusivo criterio (por ejemplo, diseños de páginas Web, iconos, iconos gestuales, iconos de
                        amigos, avatares foro, escudos y otros elementos que no sean fotografías en sitios web
                        externos). Usted puede eliminar su perfil en cualquier momento mediante la eliminación de su
                        cuenta. Usted se compromete a permitir que otros usuarios del sitio Gogh-art puedan visualizar
                        las imágenes y los distintos contenidos en el Sitio así como otras páginas web controladas o
                        asociadas a Gogh. Usted permite que Gogh pueda almacenar las imágenes, las descripciones de
                        las obras y sus datos personales. Su uso de ésta página web constituye su acuerdo y aceptación
                        de todos los términos del sitio, así como todos los términos y condiciones contenidos en la
                        política de privacidad detallados en www.Gogh-art.com/politicas_de_privacidad</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col mt-5">
            <h5><strong>Pólitica del Infractor Reincidente</strong></h5>
            <div class="row">
                <div class="col">
                    <p>De acuerdo con la Digital Millennium Copyright Act (DMCA) y otras leyes aplicables, Gogh ha
                        adoptado una política de finalización, en circunstancias apropiadas y a discreción de Gogh, de
                        los suscriptores o titulares de cuentas que tengan la consideración de infractores reincidentes.
                        Gogh puede también, a su entera discreción, limitar el acceso al Sitio y / o cancelar las
                        cuentas de los usuarios que infrinjan los derechos de propiedad intelectual de otros, si hay o
                        no reincidencia.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col mt-5">
            <h5><strong>Derechos de Copyright – Derechos de autor</strong></h5>
            <div class="row">
                <div class="col">
                    <p>Podemos dar aviso de una reclamación de infracción de derechos de autor a los usuarios por medio
                        de un aviso general en el Sitio, el correo electrónico a la dirección de correo electrónico de
                        un usuario en nuestros registros, o mediante comunicación escrita enviada por correo postal a la
                        dirección de un usuario en nuestros registros.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col mt-5">
            <h5><strong>Derechos de Uso</strong></h5>
            <div class="row">
                <div class="col">
                    <p>Todo el material con derechos reservados, incluyendo pero no limitado a la fotografía (s) con
                        licencia o vendidos por Gogh, recae sobre el titular del derecho de autor en todo momento. Los
                        usuarios del sitio NO pueden reproducir material (fotografías), por ejemplo, comprados con
                        derechos de autor sin permiso expreso de Gogh o, en ciertos casos, del titular de los derechos
                        de autor.</p>
                </div>
            </div>
        </div>
    </div>
<div class="row">
    <div class="col mt-5">
        <h5><strong>DPrivacidad</strong></h5>
        <div class="row">
            <div class="col">
                <p>Por favor, consulte nuestra política de privacidad en www.Gogh-art.com/privacy para obtener
                    información sobre cómo la empresa recopila, utiliza y divulga la información personal de sus
                    usuarios.</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col mt-5">
        <h5><strong>Comformidad Legal</strong></h5>
        <div class="row">
            <div class="col">
                <p>Usted deberá cumplir con todas las leyes nacionales e internacionales, estatutos, ordenanzas y
                    reglamentos relativos a su uso de nuestro servicio y de su establecimiento, adquisición, solicitud
                    de ofertas de compra y venta de artículos. </p>
            </div>
        </div>
    </div>
</div>
</div>