<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <header class="text-center tm-site-header">
                <div class="tm-site-logo"></div>
                <h1 class="display-4 mx-5">Gogh, Art Gallery</h1>
            </header>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="tm-video-container">
                <video id="tm-welcome-video" class="tm-welcome-video" autoplay="" loop="" muted="" width="950px">
                        <source src="../../../assets/videos/video.mp4" type="video/mp4"> Your browser does not support the video tag.
                        </video>
                <div id="tm-video-loader"></div>
                <div id="tm-video-text-overlay" class="tm-video-text-overlay d-none">
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row tm-section-mb">
        <div class="col-lg-12">
            <div class=" tm-timeline-item">
                <div class="tm-timeline-item-inner">
                    <div class="tm-timeline-connector">
                        <p class="mb-0">&nbsp;</p>
                    </div>
                    <div class="">
                        <div class="tm-bg-dark ">
                            <h3 class="tm-text-green tm-font-400">Muestras de arte contemporaneo</h3>
                            <p>Se estará mostrando pinturas de nuestros artistas. Tales como Juan Serrano, Rafa Polinesio y El latas. Información con los encargador a JoseGlez@Gogh.com y al 33-22-28-1955</p>
                            <p class="tm-text-green float-right mb-0">Nuevo evento. 12 Jullio 2033</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <div class="tm-timeline-item">
                <div class="tm-timeline-item-inner">

                    <div class="tm-timeline-connector">
                        <p class="mb-0">&nbsp;</p>
                    </div>
                    <div class="tm-timeline-description-wrap">
                        <div class="tm-bg-dark-light tm-timeline-description">
                            <h3 class="tm-text-cyan tm-font-400">Artistas en exhibición.</h3>
                            <p>Romero Bertuchi, Greta Savineh, Cielo Aceves, Arantza Izquierdo, Camila Zambrano, Brisa Delgado, Flor Amargo, Enrique Ferras Gómez, Rafael Zalazar, Ivan Arias.</p>
                            <a class="tm-text-cyan float-right mb-0" href="https://xvideos.com/"> Visitanos Aquí</a>
                        </div>
                    </div>
                </div>
                <div class="tm-timeline-connector-vertical"></div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <div class="tm-timeline-item">
                <div class="tm-timeline-item-inner">

                    <div class="tm-timeline-connector">
                        <p class="mb-0">&nbsp;</p>
                    </div>
                    <div class="tm-timeline-description-wrap">
                        <div class="tm-bg-dark-light tm-timeline-description">
                            <h3 class="tm-text-yellow tm-font-400">Tienda en línea del arte</h3>
                            <p>Tenemos una tienda en donde puedes comprar mercancia y material artístico.</p>
                            <a class="tm-text-yellow float-right mb-0" href="https://www.artshop.com.mx/">Compras</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <div class="tm-timeline-item">
                <div class="tm-timeline-item-inner">
                    <div class="tm-timeline-description-wrap">
                        <div class="tm-bg-dark-light tm-timeline-description">
                            <h3 class="tm-text-orange tm-font-400">Colecciones</h3>
                            <p>Visita nuestras colecciones<a href="colecciones.html"> Aquí</a> para revisar a los artistas.</p>
                            <p class="tm-text-orange float-right mb-0"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br>
    <hr>
    <div class="row">
        <div class="col">
            <div class="row tm-section-mb tm-section-mt">
                <div class="col-lg-4 col-md-4 col-sm-12 pr-lg-5 mb-md-0 mb-4">
                    <h3 class="mt-2 mb-3 tm-text-gray">Encargados</h3>
                    <p>- Jose Gonzalez JGlez@Gogh.com 33-12-20-13-90 <br> - Cielo Aceves CAceves@Gogh.com 33-33-33-33-33 <br> - Miguel Gonzalez Aguilar Miguel@Gogh.com 33-18-69-13-55 <br>
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 pr-lg-5 mb-md-0 mb-4">
                    <h3 class="mt-2 mb-3 tm-text-gray">¿por qué visitarnos? </h3>
                    <p>Tenemos variedad de contenido e información artística. Nuestros artistias están comprometidos con la creación de arte y con nuestros clientes.
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <h3 class="mt-2 mb-3 tm-text-gray">Visitas</h3>
                    <p>HORARIOS DE VISITAS <br> <br> LUNES A VIERNES : 10:00 -- 18:10 Hrs <br> SAB Y DOM : 10:0 -- 20:00 Hrs <br></p>
                </div>
            </div>
            <div class="row tm-section-mt">
                <div class="col-lg-6">
                    <h3 class="mb-4 tm-text-gray">Donde encontrarnos</h3>
                    <!-- GOOGLE MAP -->
                    <div id="google-map" class="text-center mb-5">
                        <!-- How to change your own map point
                           1. Go to Google Maps
                           2. Click on your location point
                           3. Click "Share" and choose "Embed map" tab
                           4. Copy only URL and paste it within the src="" field below
                       -->
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3647.3030413476204!2d100.5641230193719!3d13.757206847615207!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf51ce6427b7918fc!2sG+Tower!5e0!3m2!1sen!2sth!4v1510722015945" class="google-map-iframe"
                            width="500" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
